body{
    background-color: rgb(167, 91, 255);
}

.headdiv{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.sub1{
    color: white;
    text-align: center;
}

.sub1_p1{
    color: white;
    text-align: center;
    
}

.img1{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.box1{
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.h3b{
    font-size: 15px;
}

.box2{
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    align-content: center;
    align-items: center;
    text-align: center;

}

.img2{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.h3c{
    font-size: 15px;
}

.box3{
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.img3{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.h3d{
    font-size: 15px;
}